.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}


@media all and (max-width: 768px) { 
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 750px;
        grid-gap: 16px;
    }
}

@media all and (max-width: 480px) { 
    .content {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 460px;
        grid-gap: 16px;
    }
}